@{
    ViewBag.Title = "ติดต่อเรา";
}
<br />

<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        <address>
            Thana Kasapragorn<br />
            Tel. 081-850-1507<br />            
            line id : l.thanaka
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:thanabow@gmail.com">thanabow@mail.com</a><br />            
        </address>
        </div>
    <div class="panel-footer">&nbsp;</div>
</div>