<div style='clear:both;'></div>
<div id='footer-container'>
    <div id='footer'>
        <div id='copyrights'>
            Copyright &#169;
            <script type='text/javascript'>var creditsyear = new Date();document.write(creditsyear.getFullYear());</script><br />
            @Html.ActionLink("ระบบทะเบียนสมาชิกไลออนส์สากลภาค 310-เอ2", "Index", "Home")
        </div>
        <!-- you don't have permission to remove or change these -->
        <div id='credits'>Design by <a href='https://flexithemes.com/' target='_blank'>FlexiThemes</a> | Blogger Theme by <a href='http://www.bloggertipandtrick.net/' target='_blank' title='Blogging Tutorials'>Lasantha</a> - <a href='http://www.premiumbloggertemplates.com/' target='_blank' title='Blogger Templates'>PremiumBloggerTemplates.com</a> | <a href='http://rapiddomainsearch.com/' rel='nofollow' target='_blank'>Rapid Domain Search</a></div>
    </div><!-- #footer -->
</div>
<div style='clear:both;'></div>
