<div id='header-wrapper'>
    <div class='header section' id='headerbleft'>
        <div class='widget Header' data-version='1' id='Header1'>
            <div id='header-inner'>
                <a href='#' style='display: block'>
                    <img alt='ระบบทะเบียนสมาชิกไลออนส์' height='100px;' id='Header1_headerimg' src='~/images/RegisterLions.jpg' style='display: block;padding-left:0px;padding-top:0px;' width='1024px; ' />
                </a>
            </div>
        </div>
    </div>
</div>
<div style='clear:both;'></div>
