<!-- Featured Content Slider Started -->
<div id='jssor_1' style='position: relative; margin: 0 auto 15px auto; top: 0px; left: 0px; width: 615px; height: 300px; overflow: hidden; visibility: hidden;'>
    <!-- Loading Screen -->
    <div data-u='loading' style='position: absolute; top: 0px; left: 0px;'>
        <div style='filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;'></div>
        <div style='position:absolute;display:block;background:url(&#39;https://4.bp.blogspot.com/-BV7y2BuduhI/V3N4FaYwNOI/AAAAAAAAA3g/fcjzPRL3Xi4ggqKASwM5JmWQMbky1MJAwCLcB/s1600/loading.gif&#39;) no-repeat center center;top:0px;left:0px;width:100%;height:100%;'></div>
    </div>
    <div data-u='slides' style='cursor: default; position: relative; top: 0px; left: 0px; width: 615px; height: 300px; overflow: hidden;'>
        <div data-p='112.50' style='display: none;'>
            <a href='http://lci-centennial.blogspot.com/2016/06/Centennial-Service-Challence.html'><img data-u='image' src='http://lions100.lionsclubs.org/EN/_files/images/hero/csc-infographic.png' /></a>
            <div data-u='thumb'></div>
        </div>
        <div data-p='112.50' style='display: none;'>
            <a href='http://lci-centennial.blogspot.com/2016/06/centennial-community-legacy-projects.html'>
                <img data-u='image' src='http://lions100.lionsclubs.org/EN/_files/images/hero/legacy-projects-hero.png' />
            </a>
            <div data-u='thumb'></div>
        </div>
        <div data-p='112.50' style='display: none;'>
            <a href='http://lions100.lionsclubs.org/EN/media/touchstone-stories/index.php' target='_blank'>
                <img data-u='image' src='http://lions100.lionsclubs.org/EN/_files/images/hero/20160301-touchstone-stories.png' />
            </a>
            <div data-u='thumb'></div>
        </div>
        <div data-p='112.50' style='display: none;'>
            <a href='http://www.lionsclubs.org/EN/news-media/videos/centennial.php' target='_blank'>
                <img data-u='image' src='http://www.lionsclubs.org/cs-assets/_files/images/page-images/hero/lci/20160101-expansion.jpg' />
            </a>
            <div data-u='thumb'></div>
        </div>
    </div>
    <!-- Thumbnail Navigator -->
    <div class='jssort09-615-45' data-u='thumbnavigator' style='position:absolute;bottom:0px;left:0px;width:615px;height:45px;'>
        <div style='position: absolute; top: 0; left: 0; width: 100%; height:100%; background-color: #000; filter:alpha(opacity=40.0); opacity:0.4;'></div>
        <!-- Thumbnail Item Skin Begin -->
        <div data-u='slides' style='cursor: default;'>
            <div class='p' data-u='prototype'>
                <div class='t' data-u='thumbnailtemplate'></div>
            </div>
        </div>
        <!-- Thumbnail Item Skin End -->
    </div>
    <!-- Bullet Navigator -->
    <div class='jssorb01' data-u='navigator' style='bottom:16px;right:16px;'>
        <div data-u='prototype' style='width:12px;height:12px;'></div>
    </div>
    <!-- Arrow Navigator -->
    <span class='jssora05l' data-autocenter='2' data-u='arrowleft' style='top:0px;left:8px;width:40px;height:40px;'></span>
    <span class='jssora05r' data-autocenter='2' data-u='arrowright' style='top:0px;right:8px;width:40px;height:40px;'></span>
</div>
<div style='clear:both;'></div>
<!-- Featured Content Slider End -->