<div id='rsidebar-wrapper'>

    <div id='rsidebar-wrapper'>
        <div class='widget-container'>
            <div class='social-profiles-widget'>
                <h3 class='widgettitle'>Social Profiles</h3>
                <a href='http://twitter.com/' target='_blank'><img alt='Twitter' src='http://1.bp.blogspot.com/-tLOdCdFwBXw/U8iX_exEUqI/AAAAAAAALpY/7BcWFjPggaA/s1600/twitter.png' title='Twitter' /></a><a href='http://facebook.com/' target='_blank'><img alt='Facebook' src='http://1.bp.blogspot.com/-nv46iRQK3X4/U8iX4shPe9I/AAAAAAAALnM/nYuMF8B-Mvo/s1600/facebook.png' title='Facebook' /></a><a href='https://plus.google.com/' target='_blank'><img alt='Google Plus' src='http://1.bp.blogspot.com/-zHK_1k86vWY/U8iX5rrgKmI/AAAAAAAALng/p2zFsZEofAw/s1600/google.png' title='Google Plus' /></a><a href='http://instagram.com/' target='_blank'><img alt='Instagram' src='http://2.bp.blogspot.com/-9qHtPdtA-gE/U8iX531XNwI/AAAAAAAALnk/6wD_u6wtZhs/s1600/instagram.png' title='Instagram' /></a><a href='http://lci-centennial.blogspot.com/feeds/posts/default' target='_blank'><img alt='RSS Feed' src='http://4.bp.blogspot.com/-gaY23lvGKgY/U8iX74xUO8I/AAAAAAAALoM/wjdRu1yErfY/s1600/rss.png' title='RSS Feed' /></a><a href='mailto:your@email.com' target='_blank'><img alt='Email' src='http://3.bp.blogspot.com/-V6TDR3wxbxA/U8iX6Z0eCAI/AAAAAAAALns/DKqXbbxJrMY/s1600/mail.png' title='Email' /></a>
            </div>
        </div>
        <div style='clear:both;'></div>
        <div class='sidebarpbt no-items section' id='rsidebartop'>
        </div>
        <div style='clear:both;'></div>
        <div class='widget-container'>
            <div class='tabviewsection'>
                <script type='text/javascript'>
            jQuery(document).ready(function($){
                $(".tabs-widget-content-widget-themater_tabs-1432447472-id").hide();
            	$("ul.tabs-widget-widget-themater_tabs-1432447472-id li:first a").addClass("tabs-widget-current").show();
            	$(".tabs-widget-content-widget-themater_tabs-1432447472-id:first").show();

            	$("ul.tabs-widget-widget-themater_tabs-1432447472-id li a").click(function() {
            		$("ul.tabs-widget-widget-themater_tabs-1432447472-id li a").removeClass("tabs-widget-current a");
            		$(this).addClass("tabs-widget-current");
            		$(".tabs-widget-content-widget-themater_tabs-1432447472-id").hide();
            	    var activeTab = $(this).attr("href");
            	    $(activeTab).fadeIn();
            		return false;
            	});
            });
                </script>
                <ul class='tabs-widget tabs-widget-widget-themater_tabs-1432447472-id'>
                    <li><a href='#widget-themater_tabs-1432447472-id3'>ประชุมใหญ่ฯ51</a></li>
                    <li><a href='#widget-themater_tabs-1432447472-id2'>ร้อยปีไลออนส์</a></li>
                    
                    <li><a href='#widget-themater_tabs-1432447472-id1'>ข่าว</a></li>

                </ul>
                <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id' id='widget-themater_tabs-1432447472-id3'>
                    <div class='sidebarpbt section' id='sidebartab1'>
                        <div class='widget PopularPosts' data-version='1' id='Convention51'>
                            <div class='widget-content'>
                                <link href="http://mybloggerlab.com/Scripts/recent.css" type="text/css" rel="stylesheet" />


                                <script type='text/javascript'>
                                     var numposts = 4;
                                     var showpostthumbnails = true;
                                     var displaymore = false;
                                     var displayseparator = true;
                                     var showcommentnum = false;
                                     var showpostdate = false;
                                     var showpostsummary = true;
                                     var numchars = 100;</script>
                                <script type="text/javascript" src="http://md310convention51.blogspot.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=labelthumbs"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id' id='widget-themater_tabs-1432447472-id2'>
                    <div class='sidebarpbt section' id='sidebartab2'>
                        <div class='widget PopularPosts' data-version='1' id='Centennial'>
                            <div class='widget-content'>
                                <link href="http://mybloggerlab.com/Scripts/recent.css" type="text/css" rel="stylesheet" />
                               

                                <script type='text/javascript'>
                                     var numposts = 4;
                                     var showpostthumbnails = true;
                                     var displaymore = false;
                                     var displayseparator = true;
                                     var showcommentnum = false;
                                     var showpostdate = false;
                                     var showpostsummary = true;
                                     var numchars = 100;</script>
                                <script type="text/javascript" src="http://lci-centennial.blogspot.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=labelthumbs"></script>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class='tabs-widget-content tabs-widget-content-widget-themater_tabs-1432447472-id' id='widget-themater_tabs-1432447472-id1'>
                    <div class='sidebarpbt section' id='sidebartab1'>
                        <div class='widget PopularPosts' data-version='1' id='LCINews'>
                            <div class='widget-content'>
                                <link href="http://mybloggerlab.com/Scripts/recent.css" type="text/css" rel="stylesheet" />


                                <script type='text/javascript'>
                                 var numposts = 4;
                                 var showpostthumbnails = true;
                                 var displaymore = false;
                                 var displayseparator = true;
                                 var showcommentnum = false;
                                 var showpostdate = false;
                                 var showpostsummary = true;
                                 var numchars = 100;</script>
                                <script type="text/javascript" src="http://lcinewsa2.blogspot.com/feeds/posts/default?orderby=published&alt=json-in-script&callback=labelthumbs"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style='height:5px;clear:both;'></div>

    </div>
</div>
<!-- spacer for skins that want sidebar and main to be the same height-->
<div class='clear' style='height:2px;'>&#160;</div>